USE [master]
GO
/****** Object:  Database [SlipStream]    Script Date: 5/12/2021 7:42:22 AM ******/
CREATE DATABASE [SlipStream]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SlipStream', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SlipStream.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SlipStream_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SlipStream_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SlipStream].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SlipStream]
GO
USE [SlipStream]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 5/12/2021 7:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [uniqueidentifier] NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Gender] [int] NOT NULL,
	[GenderName] [varchar](250) NULL,
	[IDNumber] [varchar](13) NOT NULL,
	[ResidentailAddress] [varchar](250) NOT NULL,
	[WorkAddress] [varchar](250) NULL,
	[PostalAddres] [varchar](250) NULL,
	[CellNumber] [varchar](13) NOT NULL,
	[WorkNumber] [varchar](13) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
